<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjtuse.mall.mapper.UserMapper">
    <!--1 会员管理//////////////////////////////////////////////////////-->
    <resultMap id="resultUserMap" type="com.xjtuse.mall.bean.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="user_level" property="userLevel"/>
        <result column="nickname" property="nickname"/>
        <result column="mobile" property="mobile"/>
        <result column="avatar" property="avatar"/>
        <result column="weixin_openid" property="weixinOpenid"/>
        <result column="status" property="status"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_UserColumn_List">
        id,username,password,gender,birthday,last_login_time,last_login_ip,
        user_level,nickname,mobile,avatar,weixin_openid,status,add_time,update_time,deleted
    </sql>

    <select id="queryById" resultMap="resultUserMap">
        select
        <include refid="Base_UserColumn_List"/>
        from cskaoyan_mall_user
        where id=#{id}
    </select>


    <!--    &lt;!&ndash;2 收货地址//////////////////////////////////////////////////////&ndash;&gt;-->
    <!--    <resultMap id="resultAddressMap" type="com.cskaoyan.mall_springboot.bean.user.Address">-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="user_id" property="userId"/>-->
    <!--        <result column="address_name" property="name"/>-->
    <!--        <result column="province_id" property="provinceId"/>-->
    <!--        <result column="city_id" property="cityId"/>-->
    <!--        <result column="area_id" property="areaId"/>-->
    <!--        <result column="address" property="address"/>-->
    <!--        <result column="mobile" property="mobile"/>-->
    <!--        <result column="is_default" property="isDefault"/>-->
    <!--        <result column="add_time" property="addTime"/>-->
    <!--        <result column="update_time" property="updateTime"/>-->
    <!--        <result column="deleted" property="deleted"/>-->
    <!--    </resultMap>-->
    <!--    <sql id="Base_AddressColumn_List">-->
    <!--          id,`name` as address_name,user_id,province_id,city_id,area_id,address,-->
    <!--          mobile,is_default,add_time,update_time,deleted-->
    <!--    &lt;!&ndash;3 会员收藏//////////////////////////////////////////////////////&ndash;&gt;-->
    <!--    <resultMap id="resultCollectMap" type="com.cskaoyan.mall_springboot.bean.user.Collect">-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="user_id" property="userId"/>-->
    <!--        <result column="value_id" property="valueId"/>-->
    <!--        <result column="type" property="type"/>-->
    <!--        <result column="add_time" property="addTime"/>-->
    <!--        <result column="update_time" property="updateTime"/>-->
    <!--        <result column="deleted" property="deleted"/>-->
    <!--    </resultMap>-->
    <!--    <sql id="Base_CollectColumn_List">-->
    <!--          id,user_id,value_id,`type`,add_time,update_time,deleted-->
    <!--    </sql>-->
    <!--   -->
    <!--    &lt;!&ndash;4 会员足迹//////////////////////////////////////////////////////&ndash;&gt;-->
    <!--    <resultMap id="resultFootPrintMap" type="com.cskaoyan.mall_springboot.bean.user.FootPrint">-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="user_id" property="userId"/>-->
    <!--        <result column="goods_id" property="goodsId"/>-->
    <!--        <result column="add_time" property="addTime"/>-->
    <!--        <result column="update_time" property="updateTime"/>-->
    <!--        <result column="deleted" property="deleted"/>-->
    <!--    </resultMap>-->
    <!--    <sql id="Base_FootPrintColumn_List">-->
    <!--          id,user_id,goods_id,add_time,update_time,deleted-->
    <!--    </sql>-->
    <!--    &lt;!&ndash;5 搜索历史//////////////////////////////////////////////////////&ndash;&gt;-->
    <!--    <resultMap id="resultHistoryMap" type="com.cskaoyan.mall_springboot.bean.user.History">-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="user_id" property="userId"/>-->
    <!--        <result column="keyword" property="keyword"/>-->
    <!--        <result column="from" property="from"/>-->
    <!--        <result column="add_time" property="addTime"/>-->
    <!--        <result column="update_time" property="updateTime"/>-->
    <!--        <result column="deleted" property="deleted"/>-->
    <!--    </resultMap>-->
    <!--    <sql id="Base_HistoryColumn_List">-->
    <!--          id,user_id,keyword,`from`,add_time,update_time,deleted-->
    <!--    </sql>-->
    <!--    &lt;!&ndash;6 意见反馈//////////////////////////////////////////////////////&ndash;&gt;-->
    <!--    <resultMap id="resultFeedBackMap" type="com.cskaoyan.mall_springboot.bean.user.FeedBack">-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="user_id" property="userId"/>-->
    <!--        <result column="username" property="username"/>-->
    <!--        <result column="mobile" property="mobile"/>-->
    <!--        <result column="feed_type" property="feedType"/>-->
    <!--        <result column="content" property="content"/>-->
    <!--        <result column="status" property="status"/>-->
    <!--        <result column="has_picture" property="hasPicture"/>-->
    <!--        <result column="pic_urls" property="picUrls"/>-->
    <!--        <result column="add_time" property="addTime"/>-->
    <!--        <result column="update_time" property="updateTime"/>-->
    <!--        <result column="deleted" property="deleted"/>-->
    <!--    </resultMap>-->
    <!--    <sql id="Base_FeedBackColumn_List">-->
    <!--          id,user_id,username,mobile,feed_type,content,status,-->
    <!--          has_picture,pic_urls,add_time,update_time,deleted-->
    <!--    </sql>-->
</mapper>